.nav {
    grid-area: n;
    background-color:rgb(120, 193, 221);
    padding: 20px;
    border: solid rgb(54, 151, 241) 2px;
}
.nav div {
    margin-bottom: 10px;
}

    .item a {
        color: white;
        text-decoration: none;
    }

    .item a.activeLink {
        color: gold;
    }